@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

$background_color: #1c1a1b;
$font_style_element: 'Rubik Mono One', sans-serif;

@mixin text($color, $fontSize, $fontWeight, $lineHeight, $textTransform){
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    text-transform: $textTransform;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
}

