@import '../../../styles/Main.scss';


.button_wrapper{
    width: 532px;
    height: 56px;
    border-radius: 30%;
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    box-shadow: 0 0px 150px 0  rgba(165, 191, 180, 0.42);
    -webkit-box-shadow: 0 0px 150px 0  rgba(165, 191, 180, 0.42);
    -moz-box-shadow: 0 0px 150px 0  rgba(165, 191, 180, 0.42);
}
.button{
    @include text(#1C1A1A, 1.75rem, 500, 28px, uppercase);
    width: 532px;
    height: 56px;
    padding: 16px 0px 14px 0px;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    background: linear-gradient( 90deg, #7C6FCF, #74AEAA, #6FCF97 );
    background: -moz-linear-gradient(0% 100% 90deg,#7C6FCF, #74AEAA, #6FCF97);
    // background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7C6FCF), to(#6FCF97));
}

@media (max-width: 320px) {
    .button_wrapper{
        width: 288px;
        height: 48px;
    }

    .button{
        width: 288px;
        height: 48px;
        font-size: 1.25rem;
        line-height: 24px;
        padding: 12px 0px 12px 0px;
    }
}