@import '../Main.scss';

.background{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(3, 1fr);

    &__coin{
        position: absolute;
        width: 312px;
        height: auto;
    }
    &__coin>img{
        width: 100%;
        height: auto;
    }

    &__bitcoin{
        right: 60px;
        top: 5px;
    }

    &__litecoin{
        right: 280px;
        top: 270px;
    }

    &__ethereum{
        right: 70px;
        bottom: 5px;
    }
}

@media (max-width: 320px) {
    .background{
        &__bitcoin{
            width: 136px;
            right: 5px;
            top: 16px;
        }
        &__litecoin{
            width: 140px;
            right: 170px;
            top: 80px;
        }

        &__ethereum{
            width: 136px;
            right: 5px;
            bottom: 175px;
        }
    }
}