@import '../Main.scss';

.cases-block{
    width: 550px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 320px) {
    .cases-block{
        width: auto;
    }
}