@import '../Main.scss';

.case{
    width: 97px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__indicator{
        width: 100%;
        height: auto;
    }

    &__indicator__text{
        @include text(rgba(242, 242, 242, 1), 3rem, 700, 48px, uppercase);
    }

    &__name{
        width: 100%;
        height: auto;
    }

    &__name__text{
        @include text(rgba(242, 242, 242, 0.3), 1.125rem, 400, 24px, none);
    }
}

@media (max-width: 320px) {
    .case{
        width: auto;
        height: auto;

        &__indicator__text{
            font-size: 1.75rem;
            line-height: 20px;
        }

        &__name__text{
            font-size: 0.875rem;
            line-height: 14px;
        }
    }
}