@import '../Main.scss';

.feedback{
    z-index: 99;
    max-width: 288px;
    height: 138px;
    border-radius: 20px;
    border: 1px solid #6FCF97;
    padding: 16px 25px 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(48, 45, 45, 0.34);

    &__user{
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: left;
    }

    &__image{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__image>img{
        width: 100%;
        height: auto;
    }

    &__name{
        width: auto;
        height: 48px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__name__first{
        @include text(rgba(242, 242, 242, 1), 18px, 600, 24px, uppercase);
    }
    &__name__nickname{
        @include text(rgba(242, 242, 242, 0.4), 16px, 500, 20px, none);
    }
    &__text{
        width: 100%;
        height: auto;
    }
    &__text>p{
        @include text(rgba(242, 242, 242, 1), 18px, 400, 20.7px, none);
    }
}