@import '../Main.scss';

.operating-block{
    width: 132px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    
    padding: 8px 12px 8px 12px;
    background-color: rgba(48, 45, 45, 0.34);

    &__image{
        width: 24px;
        height: 24px;
    }

    &__image>img{
        width: 24px;
        height: 24px;
    }

    &__link{
        width: 75px;
        height: 39px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text{
        text-align: left;
        @include text(rgba(242, 242, 242, 0.4), 12px, 400, 12px, none);
    }

    &__name{
        text-align: left;
        @include text(rgba(242, 242, 242, 0.4), 20px, 400, 24px, none);
    }
}

@media (max-width: 320px) {
    .operating-block{
        width: 100px;
        height: 34px;
        padding: 4px 8px 4px 8px;

        &__image{
            width: 20px;
            height: 20px;
        }

        &__image>img{
            width: 20px;
            height: 20px;
        }

        &__link{
            width: 53px;
            height: 26px;
            display: flex;
        }

        &__text{
            font-size: 10px;
            line-height: 10px;
        }

        &__name{
            font-size: 14px;
            line-height: 14px;
        }
    }
}