@import '../../../styles/Main.scss';

.title{
    width: 1008px;
    display: block;
    @include text(#ffffff, 84px, 800, 100.8px, uppercase);
    
    &__text_decorative{
        background: linear-gradient(45deg, #7971c7 33%, #7397ad 66%, #6db99e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #ffffff;
    }
}

@media (max-width: 320px) {
    .title{
        width: auto;
        display: inline-block;
        font-size: 40px;
        text-align: center;
        line-height: 43.2px;

        &__text_decorative{
            font-size: 40px;
            text-align: center;
            line-height: 43.2px;
        }
    }
}